<%= content_for :title do %>
  Geek Door - Sign In
<% end %>

<%= render 'shared/menu_back' %>

<div class="sign">
  <%= form_tag sessions_path, :class => "sign_form" do %>
    <p>
      <%= email_field_tag :email, params[:email], :placeholder => 'Email' %>
    </p>
    <p>
      <%= password_field_tag :password, params[:password], :placeholder => 'Password' %>
    </p>
    <%= submit_tag "Sign In", :class => "btn info" %>  
  <% end %>
</div>