<%= content_for :title do %>
  Sign up
<% end %>

<%= render 'shared/menu_back' %>

<div class="sign">
  <%= form_for @user, :validate => true do |f| %>
    <p>
      <%= f.email_field :email, :placeholder => 'Email' %>
    </p>
    <p>
      <%= f.password_field :password, :placeholder => 'Password' %>
    </p>
    <%= f.submit "Register", :class => "btn success" %>  
  <% end %>
</div>