<%= content_for :title do %>
  Geek Door
<% end %>

<div id="menu">
  <% if current_user %>
    <strong>Welcome <%= get_name_from_email(current_user.email) %></strong>
    <%= link_to "ChangeColor", '#', :id => "colorSelector" %>            
    <%= link_to "Background Color", '#', :id => "background_colorSelector",  :style => "display:none" %>
    <%= link_to "Foreground Color", '#', :id => "foreground_colorSelector",  :style => "display:none" %>
  <% end %>
  <%= link_to "Readme", about_path, :target => '_blank' %>
  <% if current_user %>
    <%= link_to "Sign Out", session_path(@user), :method => :delete %>
  <% else %>
    <%= link_to "Register", new_user_path %>
    <%= link_to "Sign In", new_session_path %>
  <% end %>
</div>

<div id="main" class="clearfix">
  <center>
    <%= image_tag "dri.png", :id => "three_man" %>
    <%= render :partial => "form", :locals => { :user => @user }%>
  </center>
</div>

<% if current_user %>
  <%= render :partial => "add" %> 
<% end %>