<%= content_for :title do %>
  Geek Door
<% end %>

<div id="menu">
  <% if current_user %>
    <strong>Welcome <%= get_name_from_email(current_user.email) %></strong>
  <% end %>
  <%= link_to "Readme", about_path, :target => '_blank' %>
  <% if current_user %>
    <%= link_to "Sign Out", session_path(@user), :method => :delete %>
  <% else %>
    <%= link_to "Register", new_user_path %>
    <%= link_to "Sign In", new_session_path %>
  <% end %>
</div>

<div id="main" class="clearfix">
  <center>
    <h1>极客的任意门</h1>
    <%= render :partial => "form", :locals => { :user => @user }%>
  </center>
</div>

<% if current_user %>
  <%= render :partial => "add" %> 
<% end %>