<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <link rel="shortcut icon" href="<%= asset_path("favicon.png") %>" />
  </head>
  <body <%= current_user.get_background_color if current_user %>>
    <%=raw fork_me if !current_user %>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
